header{
    background-color:#191826;
    height:94px;

}



.header-game {
   
   display:inline;
    
    color:white;
    
}

.header-game-text{
   
    text-align: center;
}

.logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
